

.colorazul{
    color: #376EFA;
}


.azul{
    background-color: #00094F;
}


/* =================================================================================== */
/* ---------------------------header------------------------------------------------ */
/* =================================================================================== */   
header h1 span{
    color: #376EFA;
}
nav{
    background-color:black;
}

li  a{
    list-style:none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
    

}
ul li a:hover{
    background-color: white;
    color:#376EFA;
}



/* =================================================================================== */
/* ---------------------------main------------------------------------------------ */
/* =================================================================================== */  

.formulario{
    
    background-image: url(../imagenes/logos/silla-ruedas-discapacidad-909180.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



.transicion{
    transition-duration: 2s;
}
.transicion:hover{
    transform:scale(2);
    
}

.sombra{
    box-shadow: 20px 20px 20px;
    transition-duration: 2s;
}

.boton button{
    border-radius: 10px;
    background-color:#376EFA;
    color: white;  
}

.boton button:hover{
    background-color: white;
    color:#376EFA;
}

/* =================================================================================== */
/* ---------------------------footer------------------------------------------------ */
/* =================================================================================== */  

.mobimiento{
    position: relative;
    animation-name: redes;
    animation-duration: 10s;
    animation-iteration-count: 5;
}
@keyframes redes{
    0%{
        right: 0px;
        left: 0px
    }
    25%{
        right: 10px;
        left: 10px;
    }
    50%{
        right: 50px;
        left: 50px;
    }
    75%{
        right: 100%;
        left: 100px;
    }
    100%{
        right: 0px;
        left: 0px;
    }
}



