header h1 span {
  color: #376EFA;
}

nav {
  background-color: black;
}
nav ul {
  list-style: none;
}
nav a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
nav a:hover {
  color: #376EFA;
}

.sombra {
  box-shadow: 20px 20px 20px;
}

.mobimiento {
  position: relative;
  animation-name: logo;
  animation-duration: 2s;
  animation-iteration-count: 3;
}

@keyframes logo {
  0% {
    right: 0px;
    left: 0px;
  }
  25% {
    right: 10px;
    left: 10px;
  }
  50% {
    right: 50px;
    left: 50px;
  }
  75% {
    right: 100%;
    left: 100px;
  }
  100% {
    right: 0px;
    left: 0px;
  }
}
.transicion {
  transition-duration: 2s;
}
.transicion:hover {
  transform: scale(1.1);
}

.boton button {
  border-radius: 10px;
  background: linear-gradient(#376EFA, #00094F);
  color: white;
}
.boton button:hover {
  background-color: white;
  color: #00094F;
}

.tarjeta, .tarjeta-app, .tarjeta-flota {
  width: 18rem;
  border: solid yellow 1px;
  border-radius: 16px;
}
.tarjeta img, .tarjeta-app img, .tarjeta-flota img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.tarjeta-flota {
  border: solid #00094F 1px;
}

.tarjeta-app {
  border: solid #376EFA 1px;
}

.cardNosotros img {
  width: 16rem;
  border: solid black 1px;
  border-radius: 16px;
  box-shadow: 20px 20px 20px;
}

.formulario {
  background-image: url(../imagenes/logos/silla-ruedas-discapacidad-909180.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

footer {
  background-color: rgba(0, 9, 79, 0.6588235294);
}

.redes-instagram {
  color: rgb(199, 53, 53);
}

.redes-facebook {
  color: rgb(56, 56, 209);
}

.redes-whatsapp {
  color: rgb(102, 192, 102);
}

.redes-linkedin {
  color: blue;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.redes li {
  list-style-type: none;
}

.obraSociales article {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.obraSociales article div {
  padding: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .obraSociales article {
    padding: 70px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "galeno integral" "iosfa jerarquicos " "medicus omas" "osde osdepym " "osecac osfatlyf" "osfe ospecon" "ospf ospsa" "pami sancorsalud" "osen unionPersonal";
  }
  .galeno {
    grid-area: galeno;
  }
  .integral {
    grid-area: integral;
  }
  .iosfa {
    grid-area: iosfa;
  }
  .jerarquicos {
    grid-area: jerarquicos;
  }
  .medicus {
    grid-area: medicus;
  }
  .omas {
    grid-area: omas;
  }
  .osde {
    grid-area: osde;
  }
  .osdepym {
    grid-area: osdepym;
  }
  .osecac {
    grid-area: osecac;
  }
  .osfatlyf {
    grid-area: osfatlyf;
  }
  .osfe {
    grid-area: osfe;
  }
  .ospecon {
    grid-area: ospecon;
  }
  .ospf {
    grid-area: ospf;
  }
  .ospsa {
    grid-area: ospsa;
  }
  .pami {
    grid-area: pami;
  }
  .sancorsalud {
    grid-area: sancorsalud;
  }
  .osen {
    grid-area: osen;
  }
  .unionPersonal {
    grid-area: unionPersonal;
  }
}
@media (min-width: 1220px) {
  .obraSociales article {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "galeno integral iosfa jerarquicos" "medicus omas osde osdepym" "osecac osfatlyf osfe ospecon" "ospf ospsa pami sancorsalud" ". osen unionPersonal .";
  }
  .galeno {
    grid-area: galeno;
  }
  .integral {
    grid-area: integral;
  }
  .iosfa {
    grid-area: iosfa;
  }
  .jerarquicos {
    grid-area: jerarquicos;
  }
  .medicus {
    grid-area: medicus;
  }
  .oma {
    grid-area: omas;
  }
  .osde {
    grid-area: osde;
  }
  .osdepym {
    grid-area: osdepym;
  }
  .osecac {
    grid-area: osecac;
  }
  .osfatlyf {
    grid-area: osfatlyf;
  }
  .osfe {
    grid-area: osfe;
  }
  .ospecon {
    grid-area: ospecon;
  }
  .ospf {
    grid-area: ospf;
  }
  .ospsa {
    grid-area: ospsa;
  }
  .pami {
    grid-area: pami;
  }
  .sancorsalud {
    grid-area: sancorsalud;
  }
  .osen {
    grid-area: osen;
  }
  .unionPersonal {
    grid-area: unionPersonal;
  }
}

/*# sourceMappingURL=style.css.map */
