
/* =================================================================================== */
/* ---------------------------header------------------------------------------------ */
/* =================================================================================== */   

.colorVioleta{
    color: #B019B0;
}
.formulario{
    
    background-image: url(../imagenes/logos/silla-ruedas-discapacidad-909180.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}








