header h1 span {
    color: $color-principal;
}

nav {
    background-color: $color-negro;

    ul {
        list-style: none;
    }

    a {
        list-style: none;
        text-decoration: none;
        color: $color-negro;
        font-weight: bold;




        &:hover {
            background-color: $color-blanco;
            color: $color-principal;
        }

    }
}