.mobimiento {
    position: relative;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: 3;
}

@keyframes logo {
    0% {
        right: 0px;
        left: 0px
    }

    25% {
        right: 10px;
        left: 10px;
    }

    50% {
        right: 50px;
        left: 50px;
    }

    75% {
        right: 100%;
        left: 100px;
    }

    100% {
        right: 0px;
        left: 0px;
    }
}

.transicion {
    transition-duration: 2s;


    &:hover {
        transform: scale(1.1);
    }
}