.boton button {
    border-radius: 10px;
    background-color: $color-principal;
    color: $color-blanco;


    &:hover {
        background-color: $color-blanco;
        color: $color-principal;
    }

}