.boton button {
    border-radius: 10px;
    background: linear-gradient($color-principal, $color-secundario);
    color: $color-blanco;


    &:hover {
        background-color: $color-blanco;
        color:$color-secundario;
        
    }

}