$color-principal:#376EFA;
$color-secundario:#00094F;
$color-transparente:#00094fa8;
$color-instagram: rgb(199, 53, 53);
$color-facebook: rgb(56, 56, 209);
$color-whatsapp: rgb(102, 192, 102);
$color-linkedin: blue;